body {
  margin: 0;
  height: 100vh; /* طول الصفحة كله */
  background: #161518;
  overflow: visible;
}

html{ 
  scroll-behavior: smooth;
}

.title {
  display: flex;
  flex-direction: column; /* يخلي المحتوى عمودي */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -5rem;
}

.title .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* مسافة بين h1 والصورة */
}


h1 {
  color: rgb(255, 255, 255);
  font-size: clamp(40px, 11vw, 70px);
  font-family: "Readex Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

p {
  color: #afafaf;
  margin-top: 2rem; /* يقلل المسافة */
  font-size: clamp(15px, 8vw, 10px);
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: -1rem;
}


.saeed-bg2{
  width: 100%;
  height: auto;
  z-index: -10;
  overflow: hidden; /* يخفي ما يتجاوز الحد */
  margin-top: -10rem;
  opacity: 0.2;
  }

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

button {
  background-color: #0a9705;
  color: #ffffff;
  font-size: clamp(16px, 3vw, 17px);  
  font-family: "Readex Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
  width: 12rem;
  height: 3rem;
  margin-top: 6rem;
  border-radius: 10px;
  transition: all 0.8s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.151);
  border: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.last{
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
  margin-right: 10rem;
  margin-top: 9rem;
  direction: rtl;
}

hr{
  border: none;       /* يشيل الافتراضي */
  border-top: 2.5px solid #afafaf; /* يرسم خط */  
  width: 75%;
  margin-bottom: 1.3rem;
}

.gallary{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.gallary img{
  width: 450px;
  height: auto;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: all 0.8s ease;
  border-radius: 15px;
}

img:hover{
  transform: scale(1.01);
  cursor: pointer;
}




























.foot {
  background-color: #000000;
  color: #ffffff;
  font-family: "Readex Pro", sans-serif;
  direction: rtl;
  padding: 4rem 4rem 1rem  ;
  margin-top: 50rem;
}

.foot footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.section-links{
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
}

.foot .تابعونا {
  margin-left: -10rem;
}

.foot h3 {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 900;
}

.foot a {
  color: #c2c2c2;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s;
  margin-top: 1rem;
  margin-left: 1rem;
}

.foot a:hover {
  color: #ffffff;
}

.foot i {
  font-size: 1.4rem;
  color: #ffffff;
  transition: transform 0.8s ease;
}

.foot i:hover {
  transform: scale(1.05);
}

.icons{
   margin-top: 1.5rem;
}

.copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  opacity: 0.5;

}


.copyright .p2{
  margin-right: 27rem;
  margin-top: -0.2;
}

.copyright a{
  margin-right: 2rem;
  margin-top: 0.2rem;
}
